<head>
  <link rel="stylesheet" href="aviso-legal.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="aviso-legal.jpg" alt="aviso legal catering trigana" title="aviso legal catering trigana" class="imagen-aviso"></div>
  <h2 class="titulo-parallax"> Aviso Legal </h2>
</div>
<!-- foto banner END -->
<div class="container container-aviso">
  <p> PIERA A AGUISAR S.L. con CIF B67435602, dirección C/ Vilafranca 6, Local, 08024 - Barcelona (Barcelona), no puede asumir ninguna responsabilidad derivada del uso incorrecto, inapropiado o ilícito de la información aparecida en las páginas de
    Internet de www.cateringtrigana.com</P>
  <p>Con los límites establecidos en la ley, www.cateringtrigana.com no asume ninguna responsabilidad derivada de la falta de veracidad, integridad, actualización y precisión de los datos o informaciones que se contienen en sus páginas de Internet.</p>
  <p>Los contenidos e información no vinculan a www.cateringtrigana.com ni constituyen opiniones, consejos o asesoramiento legal de ningún tipo pues se trata meramente de un servicio ofrecido con carácter informativo y divulgativo.</p>
  <p>Las páginas de Internet de www.cateringtrigana.com pueden contener enlaces (links) a otras páginas de terceras partes que www.cateringtrigana.com no puede controlar. Por lo tanto, www.cateringtrigana.com no puede asumir responsabilidades por el contenido que pueda
    aparecer en páginas de terceros.</p>
  <p>Los textos, imágenes, sonidos, animaciones, software y el resto de contenidos incluidos en este website son propiedad exclusiva de www.cateringtrigana.com o sus licenciantes. Cualquier acto de transmisión, distribución, cesión, reproducción,
    almacenamiento o comunicación pública total o parcial, debe contar con el consentimiento expreso de www.cateringtrigana.com.</p>
  <p>Asimismo, para acceder a algunos de los servicios que www.cateringtrigana.com ofrece a través del website deberá proporcionar algunos datos de carácter personal. En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de
    Protección de Datos de Carácter Personal le informamos que, mediante la cumplimentación de los presentes formularios, sus datos personales quedarán incorporados y serán tratados en los ficheros de The Ki Lounge, S.L. con el fin de poderle
    prestar y ofrecer nuestros servicios así como para informarle de las mejoras del sitio Web. Asimismo, le informamos de la posibilidad de que ejerza los derechos de acceso, rectificación, cancelación y oposición de sus datos de carácter personal,
    manera gratuita mediante email a info@cateringtrigana.com o en la dirección C/ Vilafranca 6, Local, 08024 - Barcelona (Barcelona).</p>
  <div class="divider"></div>
  <p class="paragraph2">Para cualquier información adicional al respecto por favor pongase en contacto con : info@cateringtrigana.com</p>
</div>


<section>
  <% include footer.ejs %>
</section>
