<head>
  <link rel="stylesheet" href="footer.css" />
</head>

<!-- Footer-START -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l8">
        <img src="logotipo.png" alt="Logo Catering trigana" title="Logo Catering trigana"  class="logo">
        <p class="texto-footer-izq">Catering Barcelona - Catering hospitales Barcelona - Catering colegios Barcelona - Catering residencias Barcelona - Catering de calidad en Barcelona</p>
      </div>
      <div class="col s12 m6 l4 container-contactanos">
        <ul>
          <li><i class="material-icons iconos-footer prefix">location_on</i><a class="texto-footer">C/ Vilafranca 6, 08024, Barcelona</a></li>
          <li><i class="material-icons iconos-footer prefix">phone</i><a class="texto-footer" href="tel:"> +34 649310516</a></li>
          <li><i class="material-icons iconos-footer prefix">email</i><a class="texto-footer"> info@cateringtrigana.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="buttn-bottom">© 2020 Copyright Catering Trigana</a>
      <a class="buttn-bottom1" href="/cookies">Política De Cookies</a>
      <a class="buttn-bottom" href="/privacidad">Política De Privacidad</a>
      <a class="buttn-bottom" href="/aviso-legal">Aviso Legal</a>
    </div>
  </div>
</footer>
<!-- Footer-END -->
</div>
<!-- website-END -->
<!-- Cookies START -->
<script type="text/javascript">
  window.cookieconsent_options = {
    "message": "Esta web usa cookies para asegurarte la mejor experiencia en nuestro sitio web.",
    "dismiss": "Permitir",
    "learnMore": "Más información",
    "link": null,
    "theme": "light-bottom"
  };
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent -->
<!-- materialize script -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="jquery-validate.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- materialize menu lateral mobile-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
<!-- submenu princiapl -->
<script>
  $(".dropdown-trigger").dropdown({
    autoTrigger: true,
    coverTrigger: false,
    hover: true,
  });
</script>
<!-- materialize jquery y form-->
<script>
  $(document).ready(function() {
    $('.carousel.carousel-slider').carousel({
      indicators: true,
      fullWidth: true,
    });

    setTimeout(autoplay, 4500);

    function autoplay() {
      $('.carousel').carousel('next');
      setTimeout(autoplay, 4500);
    }

    $('.next').click(function() {
      $('.carousel').carousel('next');
    });
    $('.prev').click(function() {
      $('.carousel').carousel('prev');
    });
    $('.collapsible').collapsible();
    $('input#input_text, textarea#textarea2').characterCounter();
    $('.sidenav').sidenav();
    $('.parallax').parallax();
    $('.modal').modal();
  });
</script>
<script>
  $(function() {
    $(document).scroll(function() {
      var $nav = $(".nav-wrapper");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });
</script>
<script>
  $(function() {
    $(document).scroll(function() {
      var $nav = $(".categoria-menu");
      $nav.toggleClass('categoria-scrolled', $(this).scrollTop() > $nav.height());
    });
  });
</script>
<script>
  AOS.init();
</script>
</body>

</html>
