<head>
  <link rel="stylesheet" href="gastronomia.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="cocina-de-autor.jpg" alt="cocina personalizada Barcelona" title="cocina personalizada Barcelona" class="img-parallax"></div>
  <h2 class="titulo-parallax"> GASTRONOMÍA </h2>
</div>
<!-- foto banner END -->
<div class="container container-padding">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="col s12 m7 l7">
        <a><img src="cena-espectaculo.jpg" alt="cena espectaculo" title="cena espectaculo" class="image-service1"></a>
      </div>
      <div class="col s12 m5 l5">
        <a><img src="cena-espectaculo-barcelona.jpg" alt="cena espectaculo Barcelona" title="cena espectaculo Barcelona" class="image-service2"></a>
      </div>
      <h2 class="titulo-texto"> COCINA PERSONALIZADA </h2>
      <p>En catering Trigana tratamos con alimentos frescos y con proveedores de primeras marcas especializados en catering. De esta manera, podemos satisfacer los paladares más selectos</p>
      <p>Desde nuestra cocina central, todos los platos tienen la premisa de cumplir con los pertinentes valores energéticos que sean necesarios para nuestro cliente. Estos platos están supervisados por un lado, por un cocinero que lleva más de
20 años en el sector y, por otro lado, por una dietista altamente formada en su ámbito.</p>
      <h2 class="titulo-texto"> DIETISTA ESPECIALIZADA </h2>
      <p>Nuestro catering se complementa, además, con una dietista para poder ofrecer a cada cliente aquello que realmente precisa. Desde Catering Trigana sabemos lo importante que es saber qué es necesario cocinar en función de las condiciones de cada persona, más allá de nuestra preocupación por elaborar comidas delicadas y deliciosas.</p>
      <p>Lo más importante para nosotros es la salud del cliente. Por ello, tenemos en mente que a cada menú que se distribuye, le corresponde una porción precisa y necesaria de alimento. Con esta línea de pensamiento, conseguimos realizar dietas equilibradas.</p>
      <p>¡Dinos que estás buscando y te elaboraremos el mejor menú! </p>
    </div>
  </div>
  <div class="container-btn">
    <a class="waves-effect waves-light btn btn-gastronomia" href="/contacto">RESERVAR AHORA</a>
  </div>
</div>

<section>
  <% include footer.ejs %>
</section>
