<!doctype html>
<html>

<head>
  <title>Catering Trigana Barcelona</title>
  <link rel="stylesheet" href="header.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!-- 	animación carga-START -->
  <div id="animación-carga">
    <div></div>
  </div>
  <!-- 	animación carga-END 	-->
  <div>
    <!-- Header-START -->
    <header>
      <!-- menu navegación START -->
      <!-- dropdown
        <ul id="dropdown1" class="dropdown-content submenu-desplegable">
          <li><a href="/hechizo">Hechizo</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content submenu-desplegable">
          <li><a href="/gastronomia">Rojo Pasión</a></li>
          <li><a href="/gastronomia">Menores De 35</a></li>
          <li><a href="/gastronomia">Menú Grupos</a></li>
        </ul>
        <ul id="dropdown3" class="dropdown-content submenu-desplegable">
          <li><a href="eventos#modal1">Cumpleaños</a></li>
          <li><a href="eventos#modal2">Despedida de Soltera</a></li>
          <li><a href="eventos#modal3">Eventos corporativos</a></li>
          <li><a href="eventos#modal4">Cenas de Grupos</a></li>
          <li><a href="eventos#modal5">Fiestas Privadas</a></li>
          <li><a href="eventos#modal6">Aniversario de Bodas</a></li>
        </ul>
      -->
      <div class="navbar-fixed">
        <nav class="nav-container-menu-principal N/A transparent">
          <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons md-18">menu</i></a>
            <ul class="left hide-on-med-and-down contenido-nav-menu-principal">
              <li><a class="categoria-menu" href="/">INICIO</a></li>
              <li><a class="categoria-menu" href="/quien-somos">Quién somos</a></li>
              <li><a class="categoria-menu" href="/gastronomia">Gastronomía</a></li>
              <!-- <li><a class="categoria-menu" href="/menus_diarios">Menús diarios</a></li> -->
              <!--  <li><a class="dropdown-trigger categoria-menu" href="/eventos" data-target="dropdown3">TU EVENTO<i class="material-icons right icono-menu">arrow_drop_down</i></a></li> -->
              <li><a class="categoria-menu" href="/#contacto">Contacto</a></li>
            </ul>
            <ul class="right hide-on-med-and-down contenido-nav-arriba">
              <li>
                <i class="material-icons icono-telefono">phone_in_talk</i>
              <li><a class="telefono" href="tel:">+34 618204819</a></li>
              </li>
              <li><a class="waves-effect waves-light btn btn-header" href="/#contacto">Reserva ahora</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- responsive mobile menu rallitas -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">INICIO</a></li>
        <li><a href="/quien-somos">QUIEN SOMOS</a></li>
        <li><a href="/gastronomia">GASTRONOMÍA</a></li>
        <!-- <li><a href="/menus_diarios">MENÚS DIARIOS</a></li> -->
        <!-- <li><a href="/eventos">TU EVENTO</a></li> -->
        <li><a href="/#contacto">CONTACTO</a></li>
      </ul>
      <!-- menu navegación END -->
    </header>
    <!-- HEADER END -->
    <div class="headerClearFix"></div>
