<head>
  <link rel="stylesheet" href="index.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<section>
  <% include header.ejs %>
</section>

<!-- Corousel START -->
<div class="carousel-container">
  <div class="carousel carousel-slider center carousel-height" data-indicators="true">
    <a class="carousel-item" href="#one!"><img src="catering-trigana-portada.jpg" alt="cateringtrigana" title="cateringtrigana" class="imagen-corousel"></a>
    <a class="carousel-item" href="#two!"><img src="fruta-catering.jpg" class="imagen-corousel" alt="fruta catering trigana" title="fruta catering trigana"></a>
    <a class="carousel-item" href="#three!"><img src="menu-catering-trigana.jpg" alt="menu catering trigana" title="menu catering trigana" class="imagen-corousel"></a>
    <div class="carousel-fixed-item center middle-indicator">
      <div class="btn prev">
        <a class="middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text icono-flecha">chevron_left</i></a>
      </div>
      <div class="btn next">
        <a class="middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text icono-flecha">chevron_right</i></a>
      </div>
    </div>
    <div>
      <a class="waves-effect waves-light btn btn-corousel" href="/#contacto">Reserva ahora</a>
    </div>
    <div>
      <h2 class="titulo-corousel">LA FELICIDAD SE COCINA AQUÍ</h2>
    </div>
  </div>
</div>
<!-- corousel END -->
<!--  	Servicios START 	-->
<div class="container">
  <h2 class="titulo-services">Catering Trigana, tu catering De Calidad</h2>
  <p> Desde el distrito de Gracia, ponemos a su disposición un amplio servicio de catering destinado a todas aquellas personas que quieran comer bien y sano.  </p>
  <p> La finalidad de nuestra cocina es que nuestros clientes adquieran una dieta equilibrada, variada y, sobre todo, saludable. Asimismo, personalizamos su menú y le ayudamos a planificarlo mejor, ofreciendo desde servicios sencillos hasta los eventos más selectos que así lo requieran.</p>
  <p> No lo dude. Consulte nuestro catálogo y confíe en nuestro equipo de expertos.  ¡Consiga que su día a día sea todo un éxito en el ámbito alimenticio!  Le esperamos.</p>
  <div class="row row-services">
    <div class="col s12 m6 l4" data-aos="fade-up" data-aos-duration="2000">
      <div class="card">
        <div class="card-image image-services">
          <img class="image-services" src="cocinero-catering-trigana.jpg" alt="cocinero catering trigana" title="cocinero catering trigana">
          <a href="/quien-somos" class="btn-floating halfway-fab waves-effect waves-light icono-cards"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Quién Somos</span>
          <p>La experiencia y la pasión por lo que hacemos es lo que nos define. El cuidado de los pequeños detalles es lo que nos hace especiales. ¡Buena comida, buen servicio, donde quieras y cuando quieras! </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4" data-aos="fade-up" data-aos-duration="2500">
      <div class="card">
        <div class="card-image image-services">
          <img class="image-services" src="cocina-mediterranea-catering-trigana.jpg" alt="cocina mediterránea catering trigana" title="cocina mediterránea catering trigana">
          <a href="/gastronomia" class="btn-floating halfway-fab waves-effect waves-light icono-cards"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gastronomía</span>
          <p>Cuidamos la calidad con productos frescos y proveedores especializados. Nuestra dietista nos permite crear los menús necesarios para colegios, hospitales y residencias.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 push-m3 l4" data-aos="fade-up" data-aos-duration="3000">
      <div class="card">
        <div class="card-image image-services">
          <img class="image-services"src="menu-diario.jpg" alt="menu diario catering trigana" title="menu diario catering trigana">
          <a href="/#contacto" class="btn-floating halfway-fab waves-effect waves-light icono-cards"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Menús diarios</span>
          <p>Disponemos de menús diarios. Llámanos y haz tu pedido de lunes a viernes. ¡Porque comer bién no ha de ser más caro! </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  	Servicios END 	-->
<!-- 	información horarios -START 	-->
<section id="contacto">
  <div class="row row-horarios">
    <div class="col s12 m12 l6 no-padding">
      <h2 class="titulo-form"> ¿Dónde estamos?</h2>
      <ul class="container">
        <li class="texto-contacto"><i class="material-icons contacto-icono">place</i>C/ Vilafranca 6, 08024, Barcelona (Barcelona)</li>
        <li class="texto-contacto"><i class="material-icons contacto-icono">call</i>+34 618204819 </li>
        <li class="texto-contacto"><i class="material-icons contacto-icono">email</i>info@cateringtrigana.com</li>
        <iframe class="map-contacto" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=calle%20vilafranca%206%2C%20barcelona+(Catering%20Trigana)&ie=UTF8&t=&z=15&iwloc=B&output=embed" allowfullscreen></iframe>
      </ul>
    </div>
    <!-- 	información horarios -END 	-->

    <!-- 	Formulario -START 	-->
    <div class="col s12 m12 l6 no-padding">
      <div class="formulario-posicion">
        <h2 class="titulo-form"> Reserva tu menú del día </h2>
        <p class="texto-form"> ¡Tenemos menús del día! Llamanos para saber el menú de hoy y realiza tu reserva. </p>
        <div class="col s12 m12 l12">
          <form id="form-reservas">
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix icono-form">account_circle</i>
                <input id="name" type="text" class="validate" name="name" minlength="2" required="">
                <label for="name">Nombre y Apellidos</label>
                <span class="helper-text" data-error="El nombre no es correcto" succes="Correcto"></span>
              </div>
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix icono-form">account_circle</i>
                <input id="comensales" type="number" class="validate" name="comensales" required>
                <label for="comensales">Número De Menús</label>
                <span class="helper-text" data-error="El número de comensales no es correcto o supera los 25. Contáctenos por teléfono" succes="Correcto"></span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix icono-form">phone</i>
                <input pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}$" id="telefono" type="tel" class="validate" name="telefono" required>
                <label for="telefono">Teléfono</label>
                <span class="helper-text" data-error="El telefono no es correcto" succes="Correcto"></span>
              </div>
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix icono-form">email</i>
                <input id="email" type="email" class="validate" name="email" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="El email no es correcto" succes="Correcto"></span>
              </div>
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix icono-form">mode_edit</i>
                <textarea  id="textarea2" type="text" class="materialize-textarea" name="comentarios"></textarea>
                <label for="textarea2">Escríbenos. </label>
              </div>
            </div>
            <div class="container-btn">
              <button type="submit" id="submit-form" class="waves-effect waves-light btn btn-form">ENVIAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 	Formulario -END 	-->
<section>
  <% include footer.ejs %>
</section>
