<head>
  <link rel="stylesheet" href="evento.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="https://cenaespectaculo.es/_files/200000005-d9da3dbcdd/2015-12-23%2019.45.10.jpg" alt="eventos Barcelona" title="eventos Barcelona" class="img-parallax"></div>
  <h2 class="titulo-parallax"> EVENTOS </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax" href="#">EVENTOS</a>
</div>
<!-- foto banner END -->
<!--  	EVENTOS START 	-->
<div class="container container-padding">
  <h2 class="titulo-services">Organiza tu evento con nosotros</h2>
  <p>La Sala Aquarella dispone de la superficie idónea para celebrar tu evento con nosotros. Disponemos de una sala amplia con aforo para 180 personas. La sala consta de un equipo de luz y sonido de alta tecnología, proyector y pantalla muy grande
    para realizar presentaciones y reuniones. También consta de cocina con la posibilidad de contratar nuestra cocina de autor. Por último, dispone de un escenario totalmente equipado dónde se realizan todo tipo de eventos musicales y teatrales. Con
    compañía propia de baile y espectáculo nuevo todas las temporadas. Sin lugar a dudar, disponemos de todo lo necesario para hacer de tu evento un evento 10.</p>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image image-services">
          <img class="img-evento" src="https://placehold.it/20x20">
          <a class="waves-effect waves-light btn modal-trigger btn-floating halfway-fab waves-effect waves-light icono-cards" href="#modal1"><i class="material-icons">add</i></a></a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 >Cumpleaños </h4>
              <p>A bunch of text </p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 modal-trigger" href="#modal1">Cumpleaños</span>
          <p>¡Haz que todos se acuerde de tu cuempleaños con una estupena cena-espectaculo!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image image-services">
          <img class="img-evento" src="https://placehold.it/20x20">
          <a class="waves-effect waves-light btn modal-trigger btn-floating halfway-fab waves-effect waves-light icono-cards" href="#modal1"><i class="material-icons">add</i></a></a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Cumpleaños</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 modal-trigger" href="#modal1">Cumpleaños</span>
          <p>¡Haz que todos se acuerde de tu cuempleaños con una estupena cena-espectaculo!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image image-services">
          <img class="img-evento" src="https://placehold.it/20x20">
          <a class="waves-effect waves-light btn modal-trigger btn-floating halfway-fab waves-effect waves-light icono-cards" href="#modal1"><i class="material-icons">add</i></a></a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Cumpleaños</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 modal-trigger" href="#modal1">Cumpleaños</span>
          <p>¡Haz que todos se acuerde de tu cuempleaños con una estupena cena-espectaculo!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image image-services">
          <img class="img-evento" src="https://placehold.it/20x20">
          <a class="waves-effect waves-light btn modal-trigger btn-floating halfway-fab waves-effect waves-light icono-cards" href="#modal1"><i class="material-icons">add</i></a></a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Cumpleaños</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 modal-trigger" href="#modal1">Cumpleaños</span>
          <p>¡Haz que todos se acuerde de tu cuempleaños con una estupena cena-espectaculo!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image image-services">
          <img class="img-evento" src="https://placehold.it/20x20">
          <a class="waves-effect waves-light btn modal-trigger btn-floating halfway-fab waves-effect waves-light icono-cards" href="#modal1"><i class="material-icons">add</i></a></a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Cumpleaños</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 modal-trigger" href="#modal1">Cumpleaños</span>
          <p>¡Haz que todos se acuerde de tu cuempleaños con una estupena cena-espectaculo!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image image-services">
          <img class="img-evento" src="https://placehold.it/20x20">
          <a class="waves-effect waves-light btn modal-trigger btn-floating halfway-fab waves-effect waves-light icono-cards" href="#modal1"><i class="material-icons">add</i></a></a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Cumpleaños</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 modal-trigger" href="#modal1">Cumpleaños</span>
          <p>¡Haz que todos se acuerde de tu cuempleaños con una estupena cena-espectaculo!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-btn">
    <a class="waves-effect waves-light btn btn-servicios" href="/#contacto">RESERVAR AHORA</a>
  </div>
</div>
<!--  	EVENTOS END 	-->

<section>
  <% include footer.ejs %>
</section>
