<head>
  <link rel="stylesheet" href="no-encontrado.css" />
</head>

<section>
<% include header.ejs %>
</section>

<div class="parallax-container ">
  <div class="parallax"><img src="no-encontrado.jpg" class="imagen-encontrado" alt="catering trigan no encontrado Barcelona" title="catering trigan no encontrado Barcelona"></div>
  <h2 class="titulo-noEncontrado"> Página no encontrada </h2>
  <p class="subtitulo-noencontrado"> Esta página no existe actualmente. Revise que la URL es la correcta o visite otro apartado de nuestra página. </p>
</div>


<section>
<% include footer.ejs %>
</section>
