<head>
  <link rel="stylesheet" href="politica-cookie.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="politica-cookies.jpg" class="imagen-cookies" alt="cookies catering trigan Barcelona" title="cookies catering trigan Barcelona"></div>
  <h2 class="titulo-parallax"> Política De Cookies </h2>
</div>
<!-- foto banner END -->
<div class="container container-cookie">
  <p> El sitios web (www.cateringtrigana.com), sus respectivas terminaciones TLDs y sus respectivos subdominios utilizan cookies para facilitar la interactuación de sus usuarios y para poder elaborar estadísticas sobre las visitas que recibe. En
    cumplimiento de la Directiva 2009/136/CE, desarrollado en nuestro ordenamiento por el apartado segundo del artículo 22 de la Ley de Servicios de Sociedad de la Información, siguiendo las directrices de la Agencia Española de Protección de Datos,
    procedemos a informarle detalladamente del uso que se realiza en nuestra web.</P>
  <p>Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde ese usuario con posterioridad cuando vuelva a relacionarse con la web.</p>
  <p>Esta información no revela su identidad, ni dato personal alguno, pero sí que permite identificarle a usted como un usuario concreto que ya visitó la web con anterioridad, visualizó determinadas páginas, etc. y permite guardar sus preferencias
    personales, así como información técnica como pueden ser visitas o páginas concretas que visite.</p>
  <p>Si usted no desea que se almacenen cookies en su navegador o no desea recibir una información cada vez que una cookie solicite instalarse, puede configurar su navegador para que lo haga de esa forma. La mayor parte de los navegadores permiten
    la gestión de las cookies.</p>
  <p>Tipos de cookies que utiliza este sitio web</p>
  <p>Cookies técnicas/ de personalización: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo,
    controlar el tráfico y la comunicación de datos, identificarla sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o
    participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales. También permiten al usuario acceder al servicio con
    algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional
    desde donde accede al servicio, etc.</p>
  <div class="divider"></div>
  <p class="p2">Para cualquier información adicional al respecto por favor pongase en contacto con : info@cateringtrigana.com</p>
</div>

<section>
  <% include footer.ejs %>
</section>
