<head>
  <link rel="stylesheet" href="politica-privacidad.css" />
</head>

<section>
<% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="politica-privacidad.jpg" class="imagen-privacidad" alt="politica privacidad catering trigana Barcelona" title="politica privacidad catering trigan Barcelona"></div>
  <h2 class="titulo-parallax"> Política De Privacidad </h2>
</div>
<!-- foto banner END -->
<div class="container container-privacidad">
  <p>Para cumplir con el nuevo Reglamento General de Protección de Datos (GDPR) hemos actualizado nuestra política de privacidad.</p>
<p><b>IDENTIFICACIÓN</b></p>
<p><b>Titular:</b> PIERA A AGUISAR S.L. <p>
<p><b>Domicilio social:</b> Carrer Vilafranca 6, 08024, Barcelona <p>
<p><b>CIF:</b> B67435602<p>
<p><b>Email:</b> info@cateringtrigana.com <p>

<p><b>2. INFORMACIÓN Y CONSENTIMIENTO</b><p>
<p>Mediante la lectura de la presente Política de Privacidad, el Usuario queda informado sobre la forma en que PIERA A AGUISAR S.L. recaba, trata y protege los datos de carácter personal que le son facilitados a través de los formularios dispuestos en el sitio web www.ivyrestolounge.es (en adelante, el “Sitio Web”), así como los propios de su navegación y aquellos otros datos que pueda facilitar en un futuro a PIERA A AGUISAR S.L.
De conformidad con lo dispuesto en la legislación vigente y aplicable en materia de protección de datos de carácter personal, mediante la aceptación de la presente Política de Privacidad, el usuario presta su consentimiento informado, expreso, libre e inequívoco para que los datos personales que proporcione a través del Sitio Web sean tratados por PIERA A AGUISAR S.L., siendo éste el Responsable del Tratamiento, salvo que, en el momento de la recogida de los mismos, se indique lo contrario.
El Usuario debe leer con atención esta Política de Privacidad, que ha sido redactada de forma clara y sencilla, para facilitar su comprensión, y determinar libre y voluntariamente si desea facilitar sus datos personales a PIERA A AGUISAR S.L.</P>

<p><b>3. OBLIGATORIEDAD DE FACILITAR LOS DATOS</b><p>
<p>Los datos solicitados en los formularios dispuestos en el Sitio Web son con carácter general, obligatorios (salvo que en el campo requerido se especifique lo contrario) para cumplir con las finalidades establecidas.

Por lo tanto, si no se facilitan los mismos o no se facilitan correctamente no podrán atenderse las solicitudes de los usuarios.
</P>

<p><b>4. ¿CON QUÉ FINALIDAD TRATARÁ PIERA A AGUISAR S.L. LOS DATOS PERSONALES DEL USUARIO Y DURANTE CUÁNTO TIEMPO?</b><p>
<p>Los datos personales recabados serán tratados por PIERA A AGUISAR S.L. conforme a las siguientes finalidades:

Gestionar las solicitudes de contacto, información y consultas sobre los servicios que ofrece PIERA A AGUISAR S.L. a través de los canales dispuestos para ello en el Sitio Web;

Gestionar las confirmaciones de pago relacionadas con la prestación del servicio;

Realizar y gestionar la reserva de mesas en los restaurantes suscritos;

Gestionar, modificar o eliminar la información proporcionada por los restaurantes suscritos;

Remitir periódicamente nuestros boletines electrónicos, conocidos como newsletter, con ofertas, promociones y noticias relacionadas con nuestro Sitio Web, salvo que se indique lo contrario o el usuario se oponga o revoque su consentimiento;

Extracciones manuales y mediante API de usuarios de la BBDD para cargar en la herramienta de envío de emails de comunicación

Realizar informes estadísticos anónimos respecto de los hábitos de acceso y la actividad desarrollada por los usuarios en el Sitio Web;

Medir el interés de los usuarios en nuestros servicios y en nuestro sitio;

Solicitar información a los usuarios, especialmente mediante encuestas;

Gestión y contestación de los derechos de los titulares de los datos.

Dar cumplimiento a las obligaciones legalmente establecidas.



Los datos se conservarán durante el tiempo necesario para la realización de las finalidades para las que fueron recogidos, salvo que el usuario solicite su baja a PIERA A AGUISAR S.L., se oponga o revoque su consentimiento.
</P>

<p><b>5. ¿CUÁL ES LA LEGITIMACIÓN DEL TRATAMIENTO DE TUS DATOS?</b><p>
<p>La legitimación del tratamiento de datos será:

Para la gestión de consultas, solicitudes de información, será el cumplimiento de relación contractual y el consentimiento prestado por el usuario para ello.

Para la gestión de reservas, será el cumplimiento de relación contractual.

Para la realización de informes estadísticos anónimos, el interés legítimo de PIERA A AGUISAR S.L.

Para el tratamiento de sus datos con fines de marketing, relativo a servicios propios de PIERA A AGUISAR S.L. para sus clientes y usuarios, se basará en el interés legítimo reconocido por la normativa.



Los consentimientos obtenidos para las finalidades mencionadas son independientes por lo que el usuario podrá revocar uno o varios de ellos no afectando a los demás. Podrá revocar su consentimiento a cualquiera de los tratamientos, si bien ello no afectará a la licitud de los tratamientos efectuados con anterioridad.
Para revocar dicho consentimiento, el Usuario podrá contactar con PIERA A AGUISAR S.L. enviando un email a la siguiente dirección de correo electrónico: info@cateringtrigana.com


</P>
<p><b>6. ¿CON QUIÉN SE COMPARTIRÁN LOS DATOS DEL USUARIO?</b><p>
<p>No cederemos tus datos personales a terceros, salvo que estemos obligados por una ley o que tú lo consientas previamente
</P>
<p><b>7. ¿DURANTE CUÁNTO TIEMPO CONSERVAREMOS LOS DATOS DEL USUARIO?</b><p>
<p>Conservaremos tus datos hasta que te des de baja para dejar de recibir nuestras newsletter, o hasta que te pongas en contacto con nosotros para solicitar que borremos tu información. Una vez lo hayas hecho, destruiremos tus datos.
</P>
<p><b>8. RESPONSABILIDAD DEL USUARIO</b><p>
<p>El Usuario:

Garantiza que es mayor de 18 años y que los datos que facilita a PIERA A AGUISAR S.L. son verdaderos, exactos, completos y actualizados. A estos efectos, el Usuario responde de la veracidad de todos los datos que comunique y mantendrá convenientemente actualizada la información facilitada, de tal forma que responda a su situación real.

Garantiza que ha informado a los terceros de los que facilite sus datos, en caso de hacerlo, de los aspectos contenidos en este documento. Asimismo, garantiza que ha obtenido su autorización para facilitar sus datos a PIERA A AGUISAR S.L. para los fines señalados.

Será responsable de las informaciones falsas o inexactas que proporcione a través del Sitio Web y de los daños y perjuicios, directos o indirectos, que ello cause a PIERA A AGUISAR S.L. o a terceros.
</P>
<p><b>9. EJERCICIO DE DERECHOS</b><p>
<p>El Usuario puede enviar un escrito a la dirección señalada en el encabezado de esta Política o bien por medio de un correo electrónico a la dirección: info@cateringtrigana.com con la Referencia “Protección de Datos”, adjuntando fotocopia de su documento de identidad, en cualquier momento y de manera gratuita, para:

Revocar los consentimientos otorgados.

Obtener confirmación acerca de si en PIERA A AGUISAR S.L. se están tratando datos personales que conciernen al usuario o no.

Acceder a sus datos personales.

Rectificar los datos inexactos o incompletos.

Solicitar la supresión de sus datos cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.

Ponerse en contacto con el DPO a través de la siguiente dirección: info@cateringtrigana.com

Interponer una reclamación relativa a la protección de sus datos personales ante la Agencia Española de Protección de Datos en la dirección Calle de Jorge Juan, 6, 28001, Madrid.
</P>
<p><b>10. MEDIDAS DE SEGURIDAD</b><p>
<p>PIERA A AGUISAR S.L. tratará los datos del Usuario en todo momento de forma absolutamente confidencial y guardando el secreto de los mismos, de conformidad con lo previsto en la normativa de aplicación, adoptando al efecto las medidas de índole técnico-organizativa necesarias que garanticen la seguridad de sus datos y eviten su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos.</P>

<div class="divider"></div>
<p class="p2">Para cualquier información adicional al respecto por favor pongase en contacto con : info@cateringtrigana.com</p>
</div>



<section>
<% include footer.ejs %>
</section>
