<head>
  <link rel="stylesheet" href="gastronomia.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="quien-somos-catering-trigana.jpg" alt="quien somos catering trigana" title="quien somos catering trigana" class="img-parallax"></div>
  <h2 class="titulo-parallax"> QUIÉNES SOMOS  </h2>
</div>
<!-- foto banner END -->
<div class="container container-padding">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="col s12 m7 l7">
        <a><img src="catering-trigana-barcelona.jpg" alt="Catering trigana Barcelona" title="Catering trigana Barcelona" class="image-service1"></a>
      </div>
      <div class="col s12 m5 l5">
        <a><img src="catering-trigana.jpg" alt="catering-trigana" title="catering-trigana" class="image-service2"></a>
      </div>
      <h2 class="titulo-texto"> CATERING TRIGANA </h2>
      <p>Catering Trigana es una empresa joven, aventurera, comprometida y muy implicada que se caracteriza por su pasión para conectar plenamente con el cliente.</p>
      <p>El hecho de llevar más de 10 años en el sector de la alimentación y el catering, nos permite saber qué es lo realmente importante para nuestro público. Para ello, disponemos de un equipo altamente cualificado, con muchos años de experiencia, que hace posible que haya máxima eficiencia y calidad en nuestro servicio. Sin duda alguna, el mayor propósito de Trigana es que el catering no suponga un trabajo extra para nuestros clientes y, por consiguiente, puedan disfrutar de él con total tranquilidad y seguridad. </p>
      <p>Si bien es cierto que somos jóvenes, también garantizamos innovación, siempre manteniendo la máxima seriedad y excelencia en nuestro trabajo.  </p>
      <p>Un buen servicio y su resultado, puede convertirse en una experiencia inolvidable. ¡No te quedes sin conocernos! </p>
    </div>
  </div>
  <div class="container-btn">
    <a class="waves-effect waves-light btn btn-gastronomia" href="/contacto">CONTACTAR AHORA</a>
  </div>
</div>

<section>
  <% include footer.ejs %>
</section>
