/* Parallax superior START */
.parallax-container {
  height: 350px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.img-parallax {
  filter: brightness(50%);
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 175px;
}

.subtitulo-parallax {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.subtitulo-parallax1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.subtitulo-parallax1-1{
  position: relative;
  margin-left: 10%;
}

.subtitulo-parallax1:hover {
 color:  rgb(250, 223, 14) !important;
}

.icono-parallax {
  position: relative;
  top: 2px;
  font-weight: 600!important;
  color: white;
}

/* Parallax superior END */
/* Servicios START */
.container-padding{
  padding-bottom: 80px;
}

.titulo-services{
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

body p {
  color: rgb(137, 137, 137);
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}

.container {
  max-width: 1280px;
  width: 70% !important;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 75% !important;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}

.row {
  text-align: justify;
}

.card-title {
  font-weight: 600 !important;
}

.icono-cards {
  background-color: rgb(202, 169, 119) !important;
}

.img-evento{
width: 100%;
height: 270px;
}

.container-btn{
  display: flex;
  justify-content: center;
}

.btn-servicios {
  background-color: rgb(202, 169, 119) !important;
  border-radius: 15px !important;
  width: 300px;
  margin-top: 20px;
}

.btn-servicios:hover::before {
  opacity:1;
  background-color: rgb(226, 45, 45);
}

.btn-servicios:before {
  content: '';
  opacity: 0;
  background-color: rgb(226, 45, 45);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}
/*  	Servicios END 	*/
/* MOBILE */
@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .titulo-parallax {
      font-size: 34px;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .titulo-parallax {
      font-size: 34px;
    }
}
