/* 	Footer -START 	*/
.row-horarios {
  padding-bottom: 0px !important;;
  margin-bottom: 0px !important;;
}
.page-footer{
  background-color: rgb(62, 64, 89)!important;
}

.texto-footer-izq{
  font-size: 16px !important;
  color: rgb(255,255,255, 0.85) !important;
  padding-top: 7px;
  padding-right: 30px;
}

.texto-footer {
  font-size: 16px !important;
  color: rgb(255,255,255, 0.85) !important;
  padding-left: 10px;
  transition: all 150ms linear;
}

.texto-footer:hover {
  color: rgba(250, 223, 14, 0.85)!important;
}

.iconos-footer {
  color: rgb(255,255,255, 0.85) !important;
  position: relative;
  top: 5px;
}

.logo {
  width: 180px;
  float: left;
  margin-left: 50px;
  padding-right: 40px;
  padding-top: 10px;
}

.footer-copyright {
  background-color: rgb(47, 48, 67)!important;
  text-align: center;
}

.toast-form-success {
  background-color: rgba(51, 130, 38, 0.85)!important;
  color: rgb(255, 255, 255)!important;
  font-weight: 600;
}

.toast-form-error {
  background-color: rgb(200, 44, 44) !important;
  color: rgb(255, 255, 255)!important;
  font-weight: 600;
}

.buttn-bottom1 {
  margin-left: 70px;
}

.buttn-bottom, .buttn-bottom1 {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 0px!important;
  padding-bottom: 0px!important;
  margin-right: 15px!important;
}
/* 	Footer -END 	*/
/* 	Website -END 	*/
/*  MOBILE 	*/
@media (max-width: 1024px) {
    .texto-footer-izq {
      text-align: center;
      margin-left: 0px;
      display: none;
     }
    .logo {
      width: 100%;
      float: none;
      margin-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
    .container-contactanos {
      position: relative;
      text-align: center;
      color: white!important;
    }
    .buttn-bottom1 {
      display: flex;
      justify-content: center;
      margin-left: 0px;
      color: white!important;
    }
    .buttn-bottom {
      display: flex!important;
      justify-content: center!important;
      text-align: center;
    }
}

@media (max-width: 600px) {
    .buttn-bottom1 {
      display: flex;
      justify-content: center;
      margin-left: 0px;
    }
    .buttn-bottom {
      display: flex;
      justify-content: center;
    }
    .inicio {
     float: none!important;
    }
}
@media (max-width: 320px) {
}
