/* Parallax superior START */
.parallax-container {
  height: 350px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.img-parallax {
  filter: brightness(60%);
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-left: 15%;
  margin-top: 175px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

/* Parallax superior END */
.container-padding{
  padding-bottom: 60px;
}

.image-service1 {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.image-service2 {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.titulo-texto {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgb(55,55,55);
}

p {
  color: rgb(137, 137, 137);
  font-size: 16px;
  text-align: justify;
}

.collapsible-header {
  color: rgb(137, 137, 137);
}

.image-menu {
  width: 50%;
  height: auto!important;
  margin-left: 25%;
  margin-right: 25%;
}

.btn-gastronomia {
  background-color: rgb(200, 177, 0) !important;
  border-radius: 15px !important;
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

.btn-gastronomia:hover::before {
  opacity:1;
  background-color: rgb(200, 44, 44);
}

.btn-gastronomia:before {
  content: '';
  opacity: 0;
  background-color: rgb(226, 45, 45);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

/* MOBILE */
@media (max-width: 1024px) {
  .image-menu {
    width: 95%;
    height: auto!important;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media (max-width: 600px) {
    .titulo-parallax {
      font-size: 34px;
    }
    .image-menu {
      width: 100%;
      height: auto!important;
      margin-left: 0%;
      margin-right: 0%;
    }
}
@media (max-width: 320px) {
    .titulo-parallax {
      font-size: 34px;
    }
    .image-menu {
      width: 100%;
      height: auto!important;
      margin-left: 0%;
      margin-right: 0%;
    }
}
