/* CSS Web Aquarella */

/* 	Loader-START */
#animación-carga {}

/* 	Loader-END 	*/

/* header START */
/* menu navegación START */
/*.dropdown-content li > a, .dropdown-content li > span {
  color: rgb(33,33,33) !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}*/

.contenido-nav-menu-principal{
  margin-left: 10%;
}

nav ul a {
  color: inherit!important;
}

.categoria-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.categoria-menu:hover {
  background: inherit;
  color:rgb(200, 177, 0)!important;
  transition-timing-function: ease-in-out!important;
  transition: .3s!important;
}

.contenido-nav-arriba {
  margin-right: 10%;
}

.telefono {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: transparent !important;
}

.telefono:hover {
  font-size: 20px;
  transition-timing-function: ease-in-out!important;
  transition: .3s!important;
}

.icono-telefono {
  font-size: 25px !important;
}

.btn-header {
  background-color: rgb(200, 177, 0) !important;
  border-radius: 15px !important;
  width: 180px;
}
.btn-header:hover:before {
  opacity:1;
}

.btn-header:before {
  content: '';
  opacity: 0;
  background-color: rgb(200, 44, 44);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.scrolled {
  background-color: rgb(62, 64, 89);
  transition-timing-function: ease-in-out!important;
  transition: .7s!important;
  box-shadow: 0 2px 3px rgba(121,121,121,.41);
  font-weight: 600;
}

.categoria-scrolled:hover {
  color: white;
}

.categoria-scrolled:hover {
  color: rgb(200, 177, 0)!important;
  transition-timing-function: ease-in-out!important;
  transition: .3s!important;
}
/* menu navegación END */
/* header END */
.headerClearFix{
  all: none;
}

.container {
  max-width: 1280px;
  width: 70% !important;
  font-family: 'Roboto', sans-serif;
}
