/* Parallax superior START */
.container1 {
  height: 100%!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.imagen-hechizo{
  filter: brightness(50%);
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 700;
  font-family: 'Mali', cursive;
  color: rgb(200, 177, 0)!important;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 340px;
  margin-left: 10%;
  margin-right: 50%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

.subtitulo-parallax {
  font-size: 22px;
  float: right;
  font-weight: 500;
  font-family: 'Mali', cursive;
  color: rgb(200, 177, 0)!important;
  margin-right: 10%;
  word-wrap: normal;
  width: 300px;
  text-align: center;
}

.container-btn{
  display: flex;
  justify-content: center;
}

.btn-hechizo {
  background-color: rgb(200, 177, 0) !important;
  color: rgb(11,11,11)!important;
  font-weight: 700;
  font-size: 12px!important;
  border-radius: 15px !important;
  position: relative;
  letter-spacing: .4px;
  width: 160px;
  position: relative;
  top: 340px;
  left: -12%;
  right: 10px!important;
}

.btn-hechizo:hover::before {
  opacity:1;
  background-color: rgb(200, 44, 44);
}

.btn-hechizo:before {
  content: '';
  opacity: 0;
  background-color: rgb(200, 44, 44);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.btn-video {
  background-color: rgb(11,11,11) !important;
  color: white!important;
  font-weight: 700;
  font-size: 12px!important;
  border-radius: 15px !important;
  position: relative;
  letter-spacing: .4px;
  width: 180px;
  top: 340px;
  left: -8%;;
  border: 1px solid rgb(33, 33, 33)!important;
}

.btn-video:hover::before {
  opacity:1;
  background-color: rgb(55, 55, 55);
}

.btn-video:before {
  content: '';
  opacity: 0;
  background-color: rgb(55, 55, 55);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.icono-video {
  margin-left: -12%;
  position: relative;
  top: 346px;
  color: white!important;
  z-index: 2;
}

.modal {
  background-color: inherit!important;
  padding: 0!important;
  overflow: hidden!important;
}

/* Parallax superior END */

/* Parallax 2 START */
.container2 {
  height: 350px!important;
  width: 100%;
  margin-top: 40px;
}

/* Parallax 2 END */

.titulo-texto {
  font-size: 22px;
  color: rgb(50,50,50);
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: 'Mali', cursive;
}
/* TEXTO START */
p {
  color: rgb(137, 137, 137);
  font-size: 16px;
  text-align: justify;
  font-family: 'Mali', cursive;
}

.containerTexto1 {
  position: relative;
  bottom: 40px;
}
/* TEXTO END */
/* MOBILE */
@media (max-width: 1024px) {
    .container1{
      height: 650px!important;
    }
    .titulo-parallax {
      position: relative!important;
      color: white;
      font-weight: 800;
      font-size: 65px;
      left: 0px!important;
      top: 30%;
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
    }
    .subtitulo-parallax{
      display: none;
    }
    .subtitulo2-parallax{
      display: none;
    }
    .container-btn{
      display: flex;
      justify-content: center;
      position: relative;
      top: -18%;
    }
    .btn-hechizo{
      letter-spacing: .4px;
      width: 140px;
      left: -25px;
    }
    .btn-video {
      letter-spacing: .4px;
      width: 140px;
      left: 25px;
    }
    .icono-video {
      display: none!important;
    }
}

@media (max-width: 650px) {
/* Styles for screen with max width of 600px */
    .titulo-parallax{
      top: 20%;
    }
}
@media (max-width: 360px) {
/* Styles for screen with max width of 320px */
    .titulo-parallax {
      top: 15%;
      font-size: 55px;
    }
    .btn-hechizo{
      letter-spacing: .4px;
      width: 120px;
      left: -15px;
    }
    .btn-video {
      letter-spacing: .4px;
      width: 120px;
      left: 15px;
    }
}
