/* Corousel START*/
.carousel-container{
  z-index: 0;
  position: relative;
  top: -70px;
}

.carousel-height{
  height: 650px!important;
}

.carousel-fixed-item{
  height: 200px;
}

.icono-flecha {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.prev {
  background-color: transparent!important;
  float: left;
}

.next {
  background-color: transparent!important;
  float: right;
}

.middle-indicator{
   position:absolute;
   top:50%;
   cursor: pointer;
   }

.middle-indicator-text{
   transition: 0.6s ease;
  }

a.middle-indicator-text{
    color: white !important;
  }

.middle-indicator-text:hover{
  background-color: rgb(62, 64, 89) !important;
  font-size: 36px !important;
}


.btn-corousel {
  background-color: rgb(200, 177, 0) !important;
  border-radius: 15px !important;
  position: relative;
  top: 450px;
  width: 200px;
}

.btn-corousel:hover::before {
  opacity:1;
  background-color: rgb(200, 44, 44);
}

.btn-corousel:before {
  content: '';
  opacity: 0;
  background-color: rgb(200, 44, 44);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.imagen-corousel{
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover;
}

.titulo-corousel {
  font-size: 54px;
  position: relative!important;
  margin-top: 10%!important;
  color: white;
  font-weight: 700;
  width: 60%;
  margin-left: 20%!important;
  margin-right: 20%!important;
  line-height: 60px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

/* corousel END */
/* Servicios START */
.titulo-services{
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(55,55,55);
}

body p {
  color: rgb(137, 137, 137);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.row-services {
  text-align: justify;
}

.card {
  border-radius: 15px!important;
  height: 460px;
  margin-top: 25px!important;
}
.card:hover {
  box-shadow: 0px 10px 15px rgb(62, 64, 89);
}

.card-title {
  font-weight: 500 !important;
  color: rgb(55,55,55);
  font-family: 'Roboto', sans-serif;
}

.icono-cards {
  background-color: rgb(62, 64, 89) !important;
}
.image-services {
  width: 100%;
  height: 225px;
  border-radius: 10px 10px 0 0!important;
}

.container-btn{
  display: flex;
  justify-content: center;
}

/*  	Servicios END 	*/
/* 	información horarios -START */
.titulo-form {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.row-horarios {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.contacto-icono {
  color: rgb(62, 64, 89);
  margin-right: 20px;
}

.texto-contacto{
  color: rgb(137, 137, 137)!important;
  padding: 10px !important;
  text-align: center;
}

.map-contacto {
  height: 270px;
  margin-top: 20px;
  border: 2px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

/* 	información horarios -END */
/* 	FORMULARIO -START */
h2{
  margin: 1.373333rem 0 1.424rem 0!important;
}

.formulario-posicion{
  float: right;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding-bottom: 20px;
}

.texto-form{
  color: rgb(137, 137, 137);
  text-align: center;
  padding: 10px !important;
}

.input-field label {
  color: rgb(137, 137, 137);
}

.input-field input:focus + label {
    color: rgb(62, 64, 89) !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid rgb(62, 64, 89) !important;
    box-shadow: 0 1px 0 0 rgb(62, 64, 89) !important;
}

.input-field textarea:focus + label {
    color: rgb(62, 64, 89) !important;
}

.input-field input:focus {
    border-bottom: 1px solid rgb(62, 64, 89) !important;
    box-shadow: 0 1px 0 0 rgb(62, 64, 89) !important;
}

.input-field input].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input.invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
    color: rgb(62, 64, 89) !important;
}

.icono-form {
  color: rgb(62, 64, 89);
}

.btn-form {
  background-color: rgb(200, 177, 0) !important;
  border-radius: 15px !important;
  width: 50%;
  margin-left: 25;
  margin-bottom: 50px;
}

.btn-form:hover::before {
  opacity:1;
  background-color: rgb(200, 44, 44);
}

.btn-form:before {
  content: '';
  opacity: 0;
  background-color: rgb(200, 44, 44);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

/* MOBILE */
@media (max-width: 1024px) {
    .card {
      height: 500px;
    }
    .texto-contacto {
      text-align: left;
    }
}


@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .titulo-corousel {
      margin-top: 16%!important;
      font-size: 35px;
    }
    .btn-corousel {
      top: 520px;
    }
    .imagen-corousel{
      width: auto!important;
      height: 650px;
    }
    .image-services {
      width: 100%;
      height: auto!important;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .titulo-corousel {
      margin-top: 16%!important;
      font-size: 35px;
    }
    .btn-corousel {
      top: 520px;
    }
    .imagen-corousel{
      width: auto!important;
      height: 650px;
    }
    .image-services {
      width: 100%;
      height: auto!important;
    }
    .card {
      height: 500px;
    }
}
