.parallax-container {
  height: 100%!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
  margin-bottom: -70px;
}

.imagen-encontrado {
  filter: brightness(60%);
  object-fit: cover;
}

.titulo-noEncontrado{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255,255,255);
  margin-left: 10%;
  margin-top: 150px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}


.subtitulo-noencontrado {
  color: rgb(255,255,255);
  font-weight: 600;
  font-size: 18px;
  margin-left: 10%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}


@media (max-width: 600px) {
    .titulo-parallax {
      font-size: 34px;
    }
}
@media (max-width: 320px) {
    .titulo-parallax {
      font-size: 34px;
    }
}
