/* Parallax superior START */
.parallax-container {
  height: 300px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-left: 15%;
  margin-top: 175px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}


/* Parallax superior END */
.container-cookie{
  margin-bottom: 70px!important;
}

p {
  color: rgb(137, 137, 137);
  font-size: 16px;
  text-align: justify;
  margin-top: 0px;
}

.p2 {
  margin-top: 30px!important;
}

/* MOBILE */
@media (max-width: 600px) {
    .titulo-parallax {
      font-size: 34px;
    }
}
@media (max-width: 320px) {
    .titulo-parallax {
      font-size: 34px;
    }
}
